{% extends 'base.html' %}

{% block content %}

<h2>Patient List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>

    {% for p in patients %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.phone }}</td>
        <td>{{ p.address }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}